<div class="input flex mb-1 mt-4 w-full md:w-96 justify-between items-center">
  <%= form_obj.label "#{key}".to_sym, custom_label %>
  <%= form_obj.check_box "#{key}".to_sym %>
</div>
<hr class="w-full md:w-96">
