<div class="input flex flex-col mt-4 w-full md:w-80">
  <%= form_obj.label "#{key}".to_sym, class: "mb-1" %>
  <%= form_obj.select "#{key}".to_sym, select_options, {}, { class: "rounded-lg border-1 border-solid border-slate-300 shadow-inner" } %>
</div>