<div class="w-96 border-2 border-solid border-slate-300 drop-shadow rounded-lg flex flex-col md:mx-4 mb-8">
  <!-- Header -->
  <div class="w-full bg-slate-100 h-16 flex flex-row items-center p-4">
    <div class="w-12 h-12 flex flex-row items-center justify-center border-solid bg-white rounded-lg">
      <span class="material-icons-round text-green-500">token</span>
    </div>
    <h2 class="ml-4"><%= customer.name %></h2>
  </div>

  <!-- Info -->
  <div class="w-full flex flex-col items-center justify-around p-4">
    <div class="billing w-full flex flex-row items-center justify-between mt-2">
      <span class="font-light text-slate-700">Billing Strategy</span>
      <% billing_strategy_text = customer.billing_strategy.empty? ? "Not set" : customer.billing_strategy %>
      <span><%= billing_strategy_text %></span>
    </div>
    <div class="two-fa w-full flex flex-row items-center justify-between mt-2">
      <span class="font-light text-slate-700">2FA Status</span>
      <% if customer.two_fa_active? %>
        <span class="bg-green-300 px-3 border border-solid rounded-full">Active</span>
      <% else %>
        <span class="bg-red-300 px-3 border border-solid rounded-lg">Not Active</span>
      <% end %>
    </div>
  </div>

  <!-- Links -->
  <hr class="w-full mt-2">
  <div class="w-full flex flex-row items-center justify-end p-4">
    <%= link_to edit_customer_path(customer), class: "flex items-center justify-between" do %>
      Manage
      <span class="material-icons-round text-slate-600 ml-2">settings</span>
    <% end %>
    <%= link_to customer_path(customer), class: "flex items-center justify-between ml-4" do %>
      View
      <span class="material-icons-round text-slate-600 ml-2">open_in_new</span>
    <% end %>
  </div>
</div>