<div class="w-full h-16 shadow-inner flex flex-row items-center justify-between px-4 border-b-2 border-solid">
  <h1 class="text-2xl">Customers</h1>
  <%= link_to "New customer", new_customer_path, class: "py-2 px-4 border-2 border-solid border-slate-300 rounded-lg inner-shadow" %>
</div>
<div class="w-full flex flex-row flex-wrap px-4 max-lg:justify-center">
  <% @customers.each do |customer| %>
    <%= render "card", customer: customer %>
  <% end %>
</div>


